<div class="modal fade" id="editStepModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form name="editStepForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editStepModalLabel">Edit step {{editStep.description}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="editStepDescription">Name/Description of the step</label>
                                <input required data-ng-model="editStep.description" type="text" class="form-control" id="editStepDescription" placeholder="Name/Description">
                            </div>
                            <div class="form-group">
                                <label for="editStepDomain">Domain of the step</label>
                                <select data-ng-disabled="true" required data-ng-model="editStep.domain" class="form-control" id="editStepDomain" data-ng-options="actor.name for actor in xactors" >
                                    <!--<option data-ng-repeat="actor in xactors">{{actor.name}}</option>-->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editStepLocal">Local of the step</label>
                                <input data-ng-hide="editStep.domain.info.local == 'group'" data-ng-model="editStep.local" type="text" class="form-control" id="editStepLocal" placeholder="Local">
                                <select data-ng-show="editStep.domain.info.local == 'group'" data-ng-model="editStep.local" class="form-control" id="editStepLocalSelect" data-ng-options="group.description for group in groups" >
                                </select>
                            </div>
                        </div><!-- end col-md-5 -->
                        <div class="col-md-7">
                            <div class="panel-group" role="tablist" aria-multiselectable="true" id="commandhelp">
                                <div class="panel panel-default" data-ng-repeat="(libname, libprops) in editStep.domain.info.libraries">
                                    <div class="panel-heading" role="tab" id="#commandHelpHeading{{libname}}">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-target="#commandHelpBody{{libname}}" data-parent="#commandhelp" aria-expanded="false" aria-controls="commandHelpBody{{libname}}">
                                                {{libname}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="commandHelpBody{{libname}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="#commandHelpHeading{{libname}}">
                                        <div class="panel-body">
                                            <div data-ng-repeat="(commandname, commandprops) in libprops">
                                                <div class="list-group">
                                                    <h4 class="list-group-item-heading">{{commandname}} <small>{{commandprops.description}}</small></h4>
                                                    <p class="list-group-item-text">
                                                        <span data-ng-repeat="arg in commandprops.args">{{arg.name}}, {{arg.description}}, {{arg.type}}<br></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col-md-7 -->
                    </div><!-- end row -->

                    <!-- area for commands-->


                    <!-- init if init is required -->
                    <div data-ng-if="editStep.domain.info.init != null">
                        <h4>Initialisation</h4>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="commandLibInit">Library of the command</label>
                                <select class="form-control" data-ng-disabled="true" id="commandLibInit" data-ng-model="editStep.initCommand.library" data-ng-options="libname as libname for (libname, props) in editStep.domain.info.libraries"></select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="commandComInit">The command from the selected library</label>
                                <select class="form-control" data-ng-disabled="true" id="commandComInit" data-ng-model="editStep.initCommand.command" data-ng-options="comname as comname for (comname, props) in editStep.domain.info.libraries[editStep.initCommand.library]"></select>
                            </div>
                            <div class="form-group" data-ng-repeat="arg in editStep.domain.info.libraries[editStep.initCommand.library][editStep.initCommand.command].args">
                                <label class="sr-only" for="commandArgInit{{arg.name}}">The {{$index}}. argument ({{arg.name}}) from the selected library</label>
                                <select data-ng-if="arg.type == 'step'" class="form-control" id="commandArgInit{{arg.name}}" data-ng-model="editStep.initCommand.args[$index]" data-ng-options="step.iid as step.description for step in steps"></select>
                                <input data-ng-if="arg.type == 'integer'" type="number"  class="form-control" id="commandArgInit{{arg.name}}" data-ng-model="editStep.initCommand.args[$index]">
                                <input data-ng-if="arg.type == 'schema'" type="text"  class="form-control" id="commandArgInit{{arg.name}}" data-ng-model="editStep.initCommand.args[$index]">
                                <input data-ng-if="arg.type == 'condition'" type="text"  class="form-control" id="commandArgInit{{arg.name}}" data-ng-model="editStep.initCommand.args[$index]">
                            </div>
                        </div>
                        <br>
                    </div>

                    <h4>Commands</h4>
                    <!-- other commands -->
                    <ul dnd-list="editStep.commands" data-ng-show="editStep.commands.length" class="commandlist">
                        <li data-ng-repeat="command in editStep.commands" data-dnd-draggable="command" data-dnd-moved="editStep.commands.splice($index, 1)" data-dnd-effect-allowed="move" >
                            <dnd-nodrag>
                                <div dnd-handle class="dnd-handle-element">:::</div>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label class="sr-only" for="commandLib{{$index}}">Library of the command</label>
                                        <select class="form-control" id="commandLib{{$index}}" data-ng-model="command.library" data-ng-options="libname as libname for (libname, props) in editStep.domain.info.libraries"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="commandCom{{$index}}">The command from the selected library</label>
                                        <select data-ng-change="command.args = []" data-ng-disabled="command.library == null" class="form-control" id="commandCom{{$index}}" data-ng-model="command.command" data-ng-options="comname as comname for (comname, props) in editStep.domain.info.libraries[command.library]"></select>
                                    </div>
                                    <div class="form-group" data-ng-repeat="arg in editStep.domain.info.libraries[command.library][command.command].args">
                                        <label class="sr-only" for="commandArg{{$parent.$index}}{{arg.name}}">The {{$index}}. argument ({{arg.name}}) from the selected library</label>
                                        <select data-ng-if="arg.type == 'step'" class="form-control" id="commandArg{{$parent.$index}}{{arg.name}}" data-ng-model="command.args[$index]" data-ng-options="step.iid as step.description for step in steps"></select>
                                        <input data-ng-if="arg.type == 'integer'" type="number"  class="form-control" id="commandArg{{$parent.$index}}{{arg.name}}" data-ng-model="command.args[$index]">
                                        <input data-ng-if="arg.type == 'schema'" type="text"  class="form-control" id="commandArg{{$parent.$index}}{{arg.name}}" data-ng-model="command.args[$index]">
                                        <input data-ng-if="arg.type == 'condition'" type="text"  class="form-control" id="commandArg{{$parent.$index}}{{arg.name}}" data-ng-model="command.args[$index]">
                                    </div>
                                    <!--<span data-ng-include="'./partials/_editStepModal.html'"></span>-->
                                    <!--<div class="form-group">-->
                                    <!--<label class="sr-only" for="commandArg{{$index}}">The arguments of the selected command</label>-->
                                    <!--<select data-ng-disabled="command.command == null" class="form-control" id="commandArg{{$index}}" data-ng-model="command.command.args"></select>-->
                                    <!--</div>-->
                                    <button type="button" class="close" aria-label="Close" data-ng-click="editStepRemoveCommand(command)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div><!-- end form-inline -->
                            </dnd-nodrag>
                        </li>
                    </ul>
                    <div class="form-inline">
                        <button type="button" class="btn btn-primary" data-ng-click="editStepAddEmptyCommand()">Add Command</button>
                    </div>

                </div><!-- end modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button data-ng-disabled="editStepForm.$invalid" type="submit" class="btn btn-primary" data-ng-click="saveEditStep(editStep.description, editStep.domain, editStep.local)">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>