<!--<button type="button" class="btn btn-default" data-toggle="modal" data-target="#schemaModal">-->
    <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> open modal (debug)-->
<!--</button>-->
<div class="modal fade" id="schemaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form name="schemaForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="schemaModalLabel">Schema (generates user input form)</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="schemaTitle">Title of the form</label>
                        <input required data-ng-model="schema.title" type="text" class="form-control" id="schemaTitle" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="schemaDescription">Description of the step</label>
                        <textarea rows="3" style="resize:vertical" required data-ng-model="schema.description" class="form-control" id="schemaDescription" placeholder="Description"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label>Variables</label>
                                <div data-ng-hide="schema.variables.length > 0" class="schemavariable-placeholder">
                                    Drag elements here!
                                </div>

                                <ul dnd-list="schema.variables" class="schemavariablelist">
                                    <li data-ng-repeat="variable in schema.variables" data-dnd-draggable="variable" data-dnd-moved="schema.variables.splice($index,1)" data-dnd-effect-allowed="move" >
                                        <ng-form name="varForm">
                                            <dnd-nodrag>
                                                <div dnd-handle class="dnd-handle-element">:::</div>
                                                <div class="schemavariable-title">{{variable.element}}</div>
                                                <div class="schemavariable">
                                                    <button type="button" class="close schemavariable-delete-btn" aria-label="Close" data-ng-click="schema.variables.splice($index,1)">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label for="schemaVariable{{$index}}Name" class="col-sm-4 control-label">Var-Name</label>
                                                                    <div class="col-sm-8">
                                                                        <input name="varName" data-ng-model="variable.name" required type="text" class="form-control" id="schemaVariable{{$index}}Name" data-ng-change="verifyDuplicateNames()" data-ng-init="variable.form = varForm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="schemaVariable{{$index}}Title" class="col-sm-4 control-label">Title</label>
                                                                    <div class="col-sm-8">
                                                                        <input data-ng-model="variable.title" required type="text" class="form-control" id="schemaVariable{{$index}}Title">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="schemaVariable{{$index}}Description" class="col-sm-4 control-label">Description</label>
                                                                    <div class="col-sm-8">
                                                                        <textarea rows="2" style="resize:vertical" data-ng-model="variable.description" required class="form-control" id="schemaVariable{{$index}}Description"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-sm-offset-4 col-sm-8">
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                <input data-ng-model="variable.required" type="checkbox"> Required
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- end col-md-6 -->

                                                        <div class="col-md-6">
                                                            <div class="form-horizontal">
                                                                <div data-ng-if="variable.element == 'input'">
                                                                    <div class="form-group">
                                                                        <label for="schemaVariable{{$index}}Type" class="col-sm-4 control-label">Type</label>
                                                                        <div class="col-sm-7">
                                                                            <select class="form-control" id="schemaVariable{{$index}}Type" data-ng-model="variable.type" data-ng-change="variable.minLength = null; variable.maxLength = null; variable.minimum = null; variable.maximum = null;">
                                                                                <option>string</option>
                                                                                <option>number</option>
                                                                                <option>integer</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div data-ng-if="variable.type == 'string'">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-4">
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input data-ng-model="variable.hasMinLength" type="checkbox"> MinLength
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-7">
                                                                                <input class="form-control" data-ng-disabled="!variable.hasMinLength" data-ng-required="variable.hasMinLength" data-ng-model="variable.minLength" type="number" step="1" min="1" data-ng-pattern="/^(0|\-?[1-9][0-9]*)$/">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-4">
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input data-ng-model="variable.hasMaxLength" type="checkbox"> MaxLength
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-7">
                                                                                <input class="form-control" data-ng-disabled="!variable.hasMaxLength" data-ng-required="variable.hasMaxLength" data-ng-model="variable.maxLength" type="number" step="1" min="1" data-ng-pattern="/^(0|\-?[1-9][0-9]*)$/">
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end if variable.type == string -->

                                                                    <div data-ng-if="variable.type == 'number'">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-4">
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input data-ng-model="variable.hasMinimum" type="checkbox"> Minimum
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-7">
                                                                                <input class="form-control" data-ng-disabled="!variable.hasMinimum" data-ng-required="variable.hasMinimum" data-ng-model="variable.minimum" type="number">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-4">
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input data-ng-model="variable.hasMaximum" type="checkbox"> Maximum
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-7">
                                                                                <input class="form-control" data-ng-disabled="!variable.hasMaximum" data-ng-required="variable.hasMaximum" data-ng-model="variable.maximum" type="number">
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end if variable.type == number -->

                                                                    <div data-ng-if="variable.type == 'integer'">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-4">
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input data-ng-model="variable.hasMinimum" type="checkbox"> Minimum
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-7">
                                                                                <input class="form-control" data-ng-disabled="!variable.hasMinimum" data-ng-required="variable.hasMinimum" data-ng-model="variable.minimum" type="number" step="1" data-ng-pattern="/^(0|\-?[1-9][0-9]*)$/">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-4">
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input data-ng-model="variable.hasMaximum" type="checkbox"> Maximum
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-7">
                                                                                <input class="form-control" data-ng-disabled="!variable.hasMaximum" data-ng-required="variable.hasMaximum" data-ng-model="variable.maximum" type="number" step="1" data-ng-pattern="/^(0|\-?[1-9][0-9]*)$/">
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end if variable.type == integer -->

                                                                </div><!-- end if input -->

                                                                <div data-ng-if="variable.element == 'select'">
                                                                    <input type="hidden" data-ng-model="variable.type" value="{{variable.type}}" data-ng-init="variable.type = 'string'"><!--hidden element to automatically set the type to string -->
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Options</label>
                                                                        <div class="col-sm-8">
                                                                            <tags-input data-ng-model="variable.options" placeholder="Add option" min-tags="2" min-length="1">
                                                                            </tags-input>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- end if select -->
                                                            </div><!-- end form-horizontal -->
                                                        </div><!-- end col-md-6 -->
                                                    </div><!-- end row -->

                                                </div><!-- end schema variable -->
                                            </dnd-nodrag>
                                        </ng-form>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end col-md-10 -->

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Elements</label>
                                <ul dnd-list="schema.variablesceletons" data-dnd-disable-if="true" class="schemasceletonlist"><!--list is disabled so only items can be taken but not dropped!-->
                                    <li data-ng-repeat="variablesceleton in schema.variablesceletons" data-dnd-draggable="variablesceleton" data-dnd-moved="" data-dnd-effect-allowed="copy" >
                                        <dnd-nodrag>
                                            <div dnd-handle class="dnd-handle-element">:::</div>
                                            <div class="form-inline">{{variablesceleton.element}}</div>
                                        </dnd-nodrag>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end col-md-2 -->
                    </div><!-- end row -->

                </div><!-- end modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button data-ng-disabled="schemaForm.$invalid" type="submit" class="btn btn-primary" data-ng-click="saveCurrentSchema()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>