<div class="modal fade" id="templateSettingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form name="templateSettingsForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="templateSettingsModalLabel">Template Settings</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="templateSettingsName">Name of the template</label>
                        <input data-ng-disabled="isSaved" id="templateSettingsName" required data-ng-model="templateSettings.name" type="text" class="form-control" placeholder="My ProcessTemplate">
                    </div>
                    <div class="form-group">
                        <label for="templateSettingsDescription">Description of the template</label>
                        <textarea rows="3" style="resize:vertical" id="templateSettingsDescription" required data-ng-model="templateSettings.description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="templateSettingsTTL">
                            Time to live of the generated IBOs in seconds
                            <button class="button btn-link" data-ng-click="templateSettings.ttl = 3600">(1hour)</button>
                            <button class="button btn-link" data-ng-click="templateSettings.ttl = 86400">(1day)</button>
                            <button class="button btn-link" data-ng-click="templateSettings.ttl = 604800">(1week)</button>
                            <button class="button btn-link" data-ng-click="templateSettings.ttl = 1209600">(2weeks)</button>
                        </label>
                        <input id="templateSettingsTTL" required data-ng-model="templateSettings.ttl" type="number" step="1" data-ng-pattern="/^(0|\-?[1-9][0-9]*)$/" class="form-control" placeholder="1209600">
                    </div>
                    <div class="form-group">
                        <label style="display:block">Groups that have access to start the template</label>
                        <ul class="list-group" data-ng-show="templateSettings.groups.length > 0">
                            <li class="list-group-item" data-ng-repeat="group in templateSettings.groups">
                                {{group.description}} ({{group.name}}) <button data-ng-click="templateSettings.groups.splice($index, 1)" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </li>
                        </ul>
                        <div class="btn-group" role="group" >
                            <button data-ng-disabled="templateSettings.groups.length == groups.length" type="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-ng-init="templateSettings.groups = []">
                                Add group
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="group in groups" data-ng-if="templateSettings.groups.indexOf(group) == -1"><a href="" data-ng-click="templateSettings.groups.push(group)">{{group.description}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- end modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button data-ng-disabled="templateSettingsForm.$invalid || templateSettings.groups.length == 0 " type="submit" class="btn btn-primary" data-ng-click="saveTemplate()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

