<div class="alert alert-danger" data-ng-show="error">
    <strong>Error</strong> {{error}}
</div>
<div class="alert alert-success" data-ng-show="success">
    <strong>Success!</strong> {{success}}
</div>
<h1 class="page-header">{{schema.title}}</h1>

<!--<div class="bs-callout bs-callout-primary">-->
    <!--<h4>Description</h4>-->
    <!--<p data-ng-bind-html="schema.description"></p>-->
<!--</div>-->

<div id="ibo-inputbox" class="panel panel-default" style="overflow:hidden;">
    <div class="panel-body" data-ng-bind-html="schema.description">
    </div>
    <div class="panel-footer">
        <form data-sf-schema="schema" data-sf-form="form" data-sf-model="model" name="boxdetailform" data-ng-submit="onSubmit(boxdetailform)"></form>
        <p data-ng-show="emptySchema">
            <button data-ng-click="onEmptySubmit()" class="btn btn-primary">Ok</button>
        </p>
    </div>
</div>

<!--<form data-sf-schema="schema" data-sf-form="form" data-sf-model="model" name="boxdetailform" data-ng-submit="onSubmit(boxdetailform)"></form>-->

<!--<p data-ng-show="emptySchema">-->
    <!--<button data-ng-click="onEmptySubmit()" class="btn btn-primary">Ok</button>-->
<!--</p>-->