<div class="alert alert-danger" data-ng-show="error">
    <strong>Error</strong> {{error}}
</div>
<div class="alert alert-success" data-ng-show="success">
    <strong>Success!</strong> {{success}}
</div>
<h1 class="page-header">{{schema.title}}</h1>

<p>{{schema.description}}</p>

<form data-sf-schema="schema" data-sf-form="form" data-sf-model="model" name="boxdetailform" data-ng-submit="onSubmit(boxdetailform)"></form>

<p data-ng-show="emptySchema">
    <button data-ng-click="onEmptySubmit()" class="btn btn-primary">Ok</button>
</p>