<!DOCTYPE html>
<html lang="en" data-ng-app="iboApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="./libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- angular tag list input -->
    <link href="./libs/ngtagsinput/ng-tags-input.min.css" rel="stylesheet" type="text/css">
    <link href="./libs/ngtagsinput/ng-tags-input.bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- jointjs -->
    <link href="./libs/jointjs/joint.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <link href="preloader.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <noscript>
        <style>
            #navbar-top,
            #sidebar,
            #main,
            #login
            {display:none;}
        </style>
    </noscript>
</head>

<body data-ng-controller="ViewCtrl">

<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top" data-ng-show="isLoggedIn">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IBO</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Dashboard</a></li>-->
                <!--<li><a href="#">Settings</a></li>-->
                <!--<li><a href="#">Profile</a></li>-->
                <li><a data-ng-click="logout()" href="">Logout</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search...">-->
            <!--</form>-->
        </div>
    </div>
</nav>

<noscript>
    <div id="javascriptwarning" class="container">
        <h1>This website needs javascript!</h1>

        <p>Please activate javascript</p>
    </div>
</noscript>

<div id="login" data-ng-controller="LoginCtrl" class="container" data-ng-hide="isLoggedIn">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="alert alert-danger" data-ng-show="error">
            <strong>Error</strong> {{error}}
        </div>
        <div class="alert alert-success" data-ng-show="success">
            <strong>Success!</strong> {{success}}
        </div>
        <label for="inputUsername" class="sr-only">Username</label>
        <input data-ng-model="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" type="text">
        <label for="inputPassword" class="sr-only">Password</label>
        <input data-ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required="" type="password">

        <div class="checkbox">
            <label>
                <input value="remember-me" type="checkbox"> Remember me
            </label>
        </div>
        <button data-ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<div id="main-container" class="container-fluid" data-ng-controller="NavCtrl">
    <div id="main-row" class="row">
        <div id="sidebar" class="col-sm-3 col-md-3 col-lg-2 sidebar" data-ng-show="isLoggedIn">
            <ul class="nav nav-sidebar">
                <li><a href="#/overview" data-active-link="active">Overview</a></li>
                <li><a href="#/proclist" data-active-link="active">Start New Process</a></li>
                <li><a href="#/template" data-active-link="active">Create New Process Template</a></li>
            </ul>
            <ul class="nav nav-sidebar" id="activeTasks">
                <li data-ng-repeat="task in tasks"><a href="#/box/{{task.xboid}}" data-active-link="active"><div class="row"><div class="col-sm-8 col-md-9">{{task.xbostepdescription}}<br><small>{{task.xbotemplate}}</small></div><div class="col-sm-4 col-md-3"><small>{{task.storedate | date : 'EEE HH:mm'}}</small></div></div></a></li>
            </ul>
        </div>
        <div id="main" data-ng-view class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main" data-ng-show="isLoggedIn">
            <h1 class="page-header">Dashboard</h1>

            <div class="row">

            </div>

            <h2 class="sub-header">Section title</h2>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="./libs/jquery/jquery.min.js"><\/script>')</script>

<!-- bootstrap -->
<script src="./libs/bootstrap/js/bootstrap.min.js"></script>

<!-- angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>window.angular || document.write('<script src="./libs/angular/angular.min.js"><\/script>')</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script>try { angular.module('ngRoute'); } catch(e) { document.write('<script src="./libs/angular/angular-route.min.js"><\/script>'); }</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
<script>try { angular.module('ngSanitize'); } catch(e) { document.write('<script src="./libs/angular/angular-sanitize.min.js"><\/script>'); }</script>

<!-- angular drag and drop -->
<script src="./libs/angular/angular-drag-and-drop-lists.min.js"></script>
<!-- angular tag list input -->
<script src="./libs/ngtagsinput/ng-tags-input.min.js"></script>

<!-- jointjs (+jquery)-->
<script src="./libs/jointjs/lodash.min.js"></script>
<script src="./libs/jointjs/backbone-min.js"></script>
<script src="./libs/jointjs/joint.js"></script>
<script src="./libs/jointjs/joint.shapes.uml.js"></script>

<!-- schemaform -->
<script src="./libs/tv4/tv4.min.js"></script>
<script src="./libs/objectpath/ObjectPath.js"></script>
<script src="./libs/schemaform/schema-form.min.js"></script>
<script src="./libs/schemaform/bootstrap-decorator.min.js"></script>

<script src="./app.js"></script>
<script src="./controllers.js"></script>
<script>
    $(document).ready(function() {
        $('body').addClass('loaded');
    });

    //double modal scrollbar fix
    $(document).on('hidden.bs.modal', '.modal', function () {
        $('.modal:visible').length && $(document.body).addClass('modal-open');
    });
</script>
</body>
</html>